* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container, .outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.outer-container {
    gap: 0rem;
    width: 100vw;
    height: 100vh;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}